*.user
*.suo
*.swo
*.swp
*.config
*.DotSettings

bin/
obj/
packages/
.vs/

/src/QuestionStore.Core/bin/*
/src/QuestionStore.WebApp.MVC/bin/*
/src/QuestionStore.Domain/bin/*
/src/QuestionStore.WebApp.MVC/obj/*
/src/QuestionStore.Domain/obj/*
/src/QuestionStore.Core/obj/*
/src/QuestionStore.WebApp.API/bin/*
/src/QuestionStore.WebApp.API/obj/*

./src/

src/QuestionStore.Core/bin 